<div class="sidebar @StateCssClass">
<DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
    <Nodes>
        <DxTreeViewNode NavigateUrl="./" Text="Home"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="toolbar" Text="Custom Toolbar Button" Expanded="true"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="hideexport" Text="Hide Export Formats Except PDF" Expanded="true"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="tabpanel" Text="All Hidden Panel Tabs" Expanded="true"></DxTreeViewNode> 
        <DxTreeViewNode NavigateUrl="standalonepanel" Text="Stand-Alone Parameter Editor" Expanded="true"></DxTreeViewNode>
        <DxTreeViewNode NavigateUrl="customeditor" Text="Custom Parameter Editor in Parameters Panel" Expanded="true"></DxTreeViewNode>
    </Nodes>
</DxTreeView>
</div>

@code {
    [Parameter] public string StateCssClass { get; set; }
}
